*{
    margin:0;
    padding:0;
}
html,body{
    margin: 0px;
    background:url('../images/BG.png') no-repeat 0 0;
    width:100%;
    height:100%;
}

.container{
    width: calc(100% - 80px);
    height: 100%;
    padding: 0 40px;
}
.header .logo{
    width: 445px;
    height: 61px;
    padding: 7px 17px 6px 57px ;
}
.content{
    height: 100%;
    margin-top: 10px;
}
.left {
    float: left;
    height: 100%;
}
.right{
    float: right;
    height: 100%;
}
.center{
    height:100%;
    margin-left: 369px;
    margin-right: 369px;
    position: relative;
}
.center img{
    height: 100%;
    width: 100%;
    position: absolute;
    left: 50%;
    top: 50%;
    transform: translate(-50%,-50%);
}
.echarts{
    width: 369px;
    height: 33%;
    margin-bottom: 8px;
}
.item{
    width: calc(100% - 16px);
    height: 35.71px;
    padding-left: 16px;
    line-height: 35.71px;
    color: #36BFEB;
    background-image: url("../images/矩形.png");
}
.table{
    height: 100%;
    width:369px;
    border: 2px solid #2A4E80;
}